@use "../foundation/mixin" as m;
@use "../foundation/color" as c;
@use "../foundation/font" as fo;
@use "../foundation/function" as fu;
@use "../foundation/variable" as v;

// ===============================================
// # note
// ===============================================
.p-contact-main__micro {
  font-weight: 700;
  color: #e21111;
}

// ===============================================

.p-contact-main__micro {
  margin-top: 80px;
  padding: 0 fu.vw(24px);
}

@include m.bp-map(pc) {
  .p-contact-main__micro {
    padding: 0;
    margin-top: 120px;
  }
}